:root {
    --bg-colour-primary: #021c33;
    --bg-colour-secondary: #03658C;
    --bg-colour-tertiary: #024873;
    
    --border-colour: #002944;
    --border-colour-muted: #05131d;

    --accent-colour-primary: #F29F05;
    --accent-colour-secondary: #F23005;
    --accent-colour-tertiary: #F28705;

    --text-colour: #F4EDE4;

    --border-radius: 8px;
}